.space-align-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.space-align-block {
  flex: none;
  margin: 8px 4px;
  padding: 4px;
  border: 1px solid #E3E1E5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.space-align-block .mock-block {
  display: inline-block;
  padding: 16px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
